.home_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.home_header {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_body {
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.home_body > .game_container {
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  transition: 0.6s;
}

.game_container:hover {
  -webkit-box-shadow: 5px 5px 15px 5px #ff8080, -9px 5px 15px 5px #ffe488,
    -7px -5px 15px 5px #8cff85, 12px -5px 15px 5px #80c7ff,
    12px 10px 15px 7px #e488ff, -10px 10px 15px 7px #ff616b,
    -10px -7px 27px 1px #8e5cff, 0px 0px 11px 3px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 15px 5px #ff8080, -9px 5px 15px 5px #ffe488,
    -7px -5px 15px 5px #8cff85, 12px -5px 15px 5px #80c7ff,
    12px 10px 15px 7px #e488ff, -10px 10px 15px 7px #ff616b,
    -10px -7px 27px 1px #8e5cff, 0px 0px 11px 3px rgba(0, 0, 0, 0);
}

.game_container img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .home_header {
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home_body {
    flex-direction: column;
  }
  .game_container {
    margin-bottom: 20px;
  }
}
