.registerPage {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
}

.container {
  width: 40vw;
  background-color: #f5f5f5;
  padding: 20px;
}

.register__footer {
  width: 40vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.div__button {
  flex: 1;
  height: 9vh;
  background-color: #f5f5f5;
  font-weight: 700;
  color: black;
  display: grid;
  place-items: center;
  transition: 0.4s;
}
.div__button:hover {
  background-color: lightgreen;
  color: green;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 80vw;
  }
  .register__footer {
    width: 80vw;
  }
}
