.sixMover_session_container {
  width: 100vw;
  height: 100vh;
  background-color: salmon;
}
.sixMover_session_body {
  width: 100vw;
  height: 90vh;
  background-color: blue;
}
.sixMover_session_footer {
  width: 100vw;
  height: 10vh;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
